{% extends "base.html" %}

{% block title %}Contact Page{% endblock title %}

{% block body %}
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus earum fugit vitae laboriosam. Pariatur odit cum commodi Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis veritatis assumenda beatae? Totam molestiae nobis quas autem rerum qui ut est ad fugiat! Iure autem, alias quod harum ratione necessitatibus consectetur voluptas, doloribus molestiae accusamus laborum expedita fugiat, repudiandae itaque fugit eaque maiores? Velit similique dolorem recusandae. Aut, praesentium. Neque. explicabo ratione temporibus est blanditiis accusamus.
</h1>
{% endblock body %}
